= simple_form_for @listing do |f|
  - if @listing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@listing.errors.count, "error")} prohibited this listing from being saved:"
      %ul
        - @listing.errors.full_messages.each do |msg|
          %li= msg

  <!-- div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
  </div -->
  = f.input :title
  = f.input :address
  = f.input :zipcode
  %div{:class => "ui-widget"}
    = f.input :city
  = f.input :country, priority: [ "Austria" ], input_html: {disabled: "disabled"}
  = f.input :description
  = f.input :beds
  = f.input :bathrooms
  = f.input :size  
  = f.association :property_type, :label => "Property Type"
  = f.input :property_for, as: :select, collection: ["Sale", "Rent"], prompt: "Select property for"
  %span.hidden_field
    = f.input :monthly_rent
  = f.input :deposit_amount
  = f.association :facilities, :as => :check_boxes
  %label
    Available From
  = f.input_field :available_from, as: :string, :class => 'datepicker'
  .hint
    Format: "yyyy/mm/dd"
  =# file_field(:listing, :listing_images)
  = f.input :image, multiple: true
  

  .actions
    = f.submit 'Review and Publish'
