%h1 Listing listings

%table
  %tr
    %th Title
    %th Address
    %th Zipcode
    %th City
    %th Country
    %th Description
    %th Beds
    %th Bathrooms
    %th Size
    %th Facility
    %th Property Type
    %th
    %th
    %th

  - @listings.each do |listing|
    %tr
      %td= listing.title
      %td= listing.address
      %td= listing.zipcode
      %td= listing.city
      %td= listing.country
      %td= listing.description
      %td= listing.beds
      %td= listing.bathrooms
      %td= listing.size
      %td
        - listing.facilities.each do |facility|
          = facility.name
      %td= listing.property_type.name
      %td= link_to 'Show', listing
      %td= link_to 'Edit', edit_listing_path(listing)
      %td= link_to 'Destroy', listing, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Listing', new_listing_path
