%p#notice= notice

%p
  %b Page Views
  = @listing.impressionist_count

= render :partial => 'like_and_save' 

%p
  %b Title:
  = @listing.title
%p
  %b Address:
  = @listing.address
%p
  %b Zipcode:
  = @listing.zipcode
%p
  %b City:
  = @listing.city
%p
  %b Country:
  = @listing.country
%p
  %b Description:
  = @listing.description
%p
  %b Beds:
  = @listing.beds
%p
  %b Bathrooms:
  = @listing.bathrooms
%p
  %b Size:
  = @listing.size
%p
  %b Facility:
  - @listing.facilities.each do |facility|
    = facility.name

%p
  %b Image:
  = image_tag @listing.image
- if current_user == @listing.user
  - unless @listing.published?
    = simple_form_for @listing do |f|
      = f.input :published, :as => :hidden, :input_html => {:checked => true, :value => 1 }
      = f.submit 'Publish', :class => 'btn btn-primary'

  = link_to 'Edit', edit_listing_path(@listing), :class => 'btn btn-primary'
  - if @listing.published
    = link_to 'Back', listings_path, :class => 'btn btn-primary'

    
= render :partial => "reviews/form", :locals => {:listing_id => @listing.id}