<%= link_to "Wallchalking", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to t(:logout), destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>    	
    <%= link_to t(:login), new_user_session_path %>
    </li>
		<li><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></li>
		<li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to t("edit_account"), edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to t("facilites"), facilities_path %>
      </li>
			<li>
      <%= link_to t("property_types"), property_types_path %>
      </li>
			<li>
      <%= link_to 'Admin', users_path %>
      </li>
			
    <% end %>
  <% else %>
    <li>
    <%= link_to t(:signup), new_user_registration_path %>
    </li>
  <% end %>
</ul>
